<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.andresocampo.com/pruebas/ortoface/Doc_1.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_7.jpg</string>    
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_2.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_3.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_4.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_5.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_6.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_8.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_9.jpg</string>
    <string>http://www.andresocampo.com/pruebas/ortoface/Doc_10.jpg</string>
</array>
</plist>
